.game-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
}
.game-card:hover {
  transform: translatey(-2px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
.card-back {
  transform: rotatey(180deg);
}
.comic-shadow {
  box-shadow: 4px 4px 0 0 #181211;
}
.comic-border {
  border: 2px solid #181211;
}

/* .bg-pattern {
  background-color: #fff8f6;
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuDpArahpmiBRAup8wsucPK4nFaI8k75NK-29-gkO1K_QHHy5EQFwuDPzv1uv3zQ4HyejY2bU3dH3vNfZOt0X53Mckzqw0yjKGOcTLF6QKXKCcMBnRaDMbjW_ZVwz1Q2U_taTdl5Qc_kvQxQAg3Z_AGfjOPOw2h6teVlP3lcp7PHEE_DI1uwsaiNvAzZssygC6OBhda0touvydmMApfN8XQhjNfUAudllFq3wBm5MPwJcIy34CbENDb8M8Jbt9irQyrTmQQgTemPy9g);
} */
